:root {
    --homePageColorOne: white;
    --homePageColorTwo: rgb(125, 125, 255);
    --homePageTransitionDuration: 0.3s;
    --homePageImageTransitionDuration: 0.5s;
}

/* BELOW CSS IS MEANT FOR STANDARD DESKTOP MONITOR SCREEN SIZE*/

/* Allows canvas to take up full window */
html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    max-width: 100%;
}

/* Allows the content in the body to be centered even with the weird canvas stuff */
body {
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
    background-color: black;
}

#main-container {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 0px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(50, 50, 50, 0.6);
    width: 100%;
    padding: 10px 0px;
}

/* Title */
#homePageTitle {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

/* Animation Control Div */
#animationControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
}

/* Animation control label */
#animationControl > span {
    color: var(--homePageColorOne);
    font-weight: 600;
}

/* Animation control toggle button */
#animationControl > button {
    background-color: var(--homePageColorOne);
    transition: all var(--homePageTransitionDuration);
    padding: 0px 20px;
    width: 40px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid var(--homePageColorOne);
}

/* When hovering on the toggle button */
#animationControl > button:hover {
    cursor: pointer;
    border: 2px solid var(--homePageColorTwo);
}

/* Psuedo element which is the circle that actually slides back and forth for the animation toggle */
#animationControl > button::before {
    position: relative;
    content: "";
    transition: all var(--homePageImageTransitionDuration);
    border-radius: 100%;
    background-color: var(--homePageColorTwo);
    top: 0px;
    right: 0px;
    display: block;
    height: 14px;
    width: 14px;
    border: 2px solid var(--homePageColorTwo);
}

/* Allows the psuedo element to slide when data attribute updates */
#animationControl > button[data-on='false']::before {
    right: 18px;
    background-color: var(--homePageColorOne);
}

/* Canvas element that is essentially the background */
#backgroundScene {
    background-color: black;
    grid-area: 1 / 1 / 1 / 1;
}

/* Centered in window, contains both projects and about me windows */
#homePageContent {
    margin-top: 40px;
    align-items: center;
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 60px;

}

#aboutMePageContent {
    display: none;
    grid-template: auto auto / auto auto;
    row-gap: 50px;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
    width: 80%;
    padding-bottom: 100px;
}

.aboutMePageImage {
    width: 300px;
    border-radius: 12px;
}

.aboutMePageImage.small {
    width: 150px;
}

.aboutMeInfoContainer {
    width: 300px;
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    gap: 10px;
}

.aboutMeInfoContainer p {
    margin: 0px 5px;
}

/* Buttons in about me section */
.aboutMeInfoContainer button {
    z-index: 1;
    border-radius: 9px;
    background: var(--homePageColorOne);
    border: none;
    font-size: 1.75rem;
    transition: all var(--homePageTransitionDuration);
    font-weight: 500;
}

.aboutMeInfoContainer button:hover {
    cursor: pointer;
    background: var(--homePageColorTwo);
}

/* Both projects and about me window */
.homePageSection {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(50, 50, 50, 0.9);
    transition: all var(--homePageTransitionDuration);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 300px;
    height:  400px;
    gap: 20px;
    opacity: 100%;
    box-shadow: 0px 0px 20px var(--homePageColorOne);
}

/* When hovering on the button within home page section, add blue box shadow */
.homePageSection:has(button:hover) {
    box-shadow: 0px 0px 40px var(--homePageColorTwo);
}

/* The div surrounding an image within home page section */
.homePageSection > .homePageImageContainer {
    border-radius: 6px;
    border: 4px solid var(--homePageColorOne);
    width: 70%;
    transition: all var(--homePageTransitionDuration);
}

/* The image itself */
.homePageSection img {
    width: 100%;
    height: 100%;
    transition: all var(--homePageTransitionDuration), opacity var(--homePageImageTransitionDuration);
}

/* Button in home page section */
.homePageSection button {
    z-index: 1;
    width: 50%;
    background: var(--homePageColorOne);
    border: none;
    transition: all var(--homePageTransitionDuration);
    font-weight: 500;
    font-size: 1.25rem;
    height: 40px;
    border-radius: 6px;
}

.animatedBorderContainer {
    position: relative;
}

/* When the button is hovered, change it */
.animatedBorderContainer button:hover {
    cursor: pointer;
    background: var(--homePageColorTwo);
}

/* When the button is hovered, change the animated border */
.animatedBorderContainer button:hover ~ .animatedBorder .line {
    stroke: var(--homePageColorTwo);
}

/* When the button is hovered, change the container */
.homePageSection button:hover ~ .homePageImageContainer {
    border-color: var(--homePageColorTwo);
}

/* When the home page section is hovered, make border bigger */
.animatedBorderContainer:hover .animatedBorder {
    opacity: 100%;
}

/* When the home page section is hovered, make border bigger, appear, and animate */
.animatedBorderContainer:hover .line[data-animate='true'] {
    opacity: 100%;
    animation: borderAnimation 5.0s linear infinite;
}

/* BELOW CSS IS MODIFIED FROM https://www.letsbuildui.dev/articles/how-to-animate-borders-in-css/ */
.animatedBorder, .line {
    width: 100%;
    height: 100%;
    transition: all var(--homePageTransitionDuration);
    opacity: 0%;
}

.animatedBorder {
    position: absolute;
    z-index: 0;
    border-radius: 12px;
    top: 0px;
    right: 0px;
}

.line {
    rx: 12px;
    ry: 12px;
    stroke-linejoin: round;
    stroke-dasharray: 50;
    stroke-width: 10px;
    fill: transparent;
    stroke: var(--homePageColorOne);
}

@keyframes borderAnimation {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 500;
    }
}
/* ---------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------- */

/* BELOW CSS IS MODIFIED FROM https://nerdy.dev/6-css-snippets-every-front-end-developer-should-know-in-2025 */
@property --color-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #000;
}
  
@property --color-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #000;
}
  
@keyframes color-change {
    to {
        --color-1: var(--_color-1-to);
        --color-2: var(--_color-2-to);
    }
}
  
#homePageTitle {
    --_space: ;

    --_color-1-from: var(--homePageColorOne);
    --_color-1-to: var(--homePageColorTwo);
    --_color-2-from: var(--homePageColorTwo);
    --_color-2-to: var(--homePageColorOne);

    --color-1: var(--_color-1-from);
    --color-2: var(--_color-2-from);

    animation: color-change 2s linear infinite alternate;

    background: linear-gradient(
        to right var(--_space),
        var(--color-1),
        var(--color-2)
    );

    /* modern browser version */
    background-clip: text;
    color: transparent;

    @supports (background: linear-gradient(in oklch, #fff, #fff)) {
        --_space: in oklch;
    }
}
/* ---------------------------------------------------------------------------------- */

.link {
    transition: all var(--homePageTransitionDuration);
    color: var(--homePageColorOne);
}

.link:hover {
    color: var(--homePageColorTwo);
}

.linkButton {
    z-index: 1;
    border-radius: 9px;
    background: var(--homePageColorOne);
    border: none;
    font-size: 1.75rem;
    transition: all var(--homePageTransitionDuration);
    font-weight: 500;
    color: black;
    text-decoration: none;
    text-align: center;

    /* TEMPORARY, WILL CLEAN UP FONTS LATER */
    font-family: Arial, Helvetica, sans-serif; 
}

.linkButton:hover {
    cursor: pointer;
    background: var(--homePageColorTwo);
}

#projectListPageContent {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
    align-items: center;
    width: 80%;
    padding-bottom: 100px;
}

#projectListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 80px;
    width: 100%;
}

.projectDiv {
    /* width: 250px; */
    height: 350px;
    background-color: rgba(50, 50, 50, 0.9);
    box-shadow: 0px 0px 30px var(--homePageColorOne);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projectDiv span {
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.projectDiv img {
    width: 70%;
}

#projectListControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#filter-title, #sort-title {
    color: white;
    margin-right: 10px;
    font-weight: 600;
    font-size: 2rem;
}

.filterTag {
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 4px 10px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: 600;
    font-size: 1rem;
}

.filterTag[data-selected='true'] {
    color: var(--homePageColorTwo);
    border-color: var(--homePageColorTwo);
}

.filterTag:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--homePageColorTwo);
}

#filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#sort-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#filter-tag-container {
    display: grid;
    gap: 10px;
}

#project-sort-select {
    font-size: 1rem;
}
