html, body {
    margin: 0px;
    padding: 0px;
}

#aboutMeContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#aboutMePhoto {
    display: flex;
    justify-content: center;

    img {
        width: 50%;
    }
}

canvas {
    background-color: black;
    display: block;
}