body {
  display: flex;
  min-height: 100vh; /* Full viewport height */
  flex-direction: column; /* Stack the children vertically */
  margin: 0;
  font-family: "trebuchet ms"
}

header {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
  z-index: 100;
  text-align: center
}

footer {
  text-align: center;
}

#app {
 z-index: 50;
 flex: 1; /* To allow the container to grow and consume the available space */
 display: flex;
 flex-direction: column;
}

main {
  flex: 1; /* To allow main to grow and consume the available space */

}

.canvas-holder {
  position: relative;
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


button {
  font-size: 16px;
  margin: 2px;
}

button.active {
  background-color: hsl(100, 100%, 50%);
}


canvas {
  position: relative;
  margin: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
}

.tools {
  width: 20%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
  justify-content: center;
}

.system-controls {
  margin: 3px;
  border-radius: 10px;
  background-color: white;
  flex: 1;
  padding: 3px;
  border: 3px solid rgba(0, 0, 0, .2);
}

.system-controls-title {
  font-weight: bold;
}

.column {
  flex: 1;
}